<%- contentFor('css') %>
<link rel="stylesheet/less" type="text/css" href="css/posts.less" />
<%- contentFor('body') %>

<data> <%= data %> </data>

<data> <%= query %> </data>

<div id="modalMedia" class="modalMedia">
  <div id="modalMediaContent"></div>
</div>

<form action="posts" autocomplete='off' id='tagInputForm'>
<%- include('uses/topBar')%>
<button type="submit" style='display:none'>Search</button>
</form>

<div id="managementContainer">

  <div id="tagsContainer">
    <div id="label">TAGS:</div>
    <div id="tagsSection"></div>
  </div>

  <div id="pageSelector">
    <a href="" id='previusLink'><img src="content/next-icon.png" alt="previus" id='previus'></a>
    <div id='pageNumber'><span>0</span></div>
    <a href="" id='nextLink'><img src="content/next-icon.png" alt="next" id='next'></a>
  </div>
</div>

<div id="body">
  <div id="options">Ainda por fazer</div>
  <div id="imageBoard"></div>
</div>

<script type="module" src="js/posts.js"></script>
