<%- contentFor('css') %>
<link rel="stylesheet" type="text/css" href="css/posts.css" />
<%- contentFor('body') %>

<data> <%= data %> </data>

<data> <%= query %> </data>



<div id="modalMedia" class="modalMedia">
  <div id="modalMediaContent"></div>
</div>

<form action="posts" autocomplete='off' id='tagInputForm'>
<%- include('uses/topBar')%>
<button type="submit" style='display:none' id='search'>Search</button>
</form>


<div id='DIVMinQuality'>
  <span>Quality: </span> <span id='displayQualidade'>0</span>
</div>
<input type="range" min='0' max='300' step='10' id="inputMinQuality">

<div id="managementContainer">
  <div id="tagsContainer">
    <div id="label">TAGS:</div>
    <div id="tagsSection"></div>
  </div>
  <div style='display:block !important;' id='imgLoadCache'></div>
  <div id="pageSelector">
    <a href="" id='previusLink'><img src="/r34/next" alt="previus" id='previus'></a>
    <div id='pageNumber'><span>0</span></div>
    <a href="" id='nextLink'><img src="/r34/next" alt="next" id='next'></a>
  </div>
  <a id='turnToBest'>turnToBest</a>
</div>

<div id="body">
  <div id="imageBoard"></div>
</div>


<div id="managementContainer">
  <div id="pageSelector">
    <a href="" id='previusLink'><img src="/r34/next" alt="previus" id='previus'></a>
    <div id='pageNumber'><span>0</span></div>
    <a href="" id='nextLink'><img src="/r34/next" alt="next" id='next'></a>
  </div>
</div>
<script type="module" src="js/posts.js"></script>

